<h1>Login</h1>
<input type="text" [(ngModel)]="userName" placeholder="Enter User Name"><br><br>
<input type="password" [(ngModel)]="password" placeholder="Enter Password"><br><br>
<button (click)="login()">Login</button><br><br>
<h3>
  Login Status :{{status == true ? 'Login Success':'Login Failed'}}
</h3>