<h1>Add Bank Details</h1>

<input type="text" [(ngModel)]="adddetails.firstName" placeholder="Enter First Name"><br><br>
<input type="text" [(ngModel)]="adddetails.lastName" placeholder="Enter Last Name"><br><br>
<input type="number" [(ngModel)]="adddetails.mobileNo" placeholder="Enter Mobile Number"><br><br>
<input type="email" [(ngModel)]="adddetails.emailId" placeholder="Enter Email Id"><br><br>
<select [(ngModel)]="adddetails.bank">
  <option *ngFor="let b of bank" [value]="b.val">
    {{b.val}}
  </option>
  <!-- <option value="" disabled selected>Select Bank</option>
  <option value="BankOfIndia">Bank Of India</option>
  <option value="BankOfMaharashtra">Bank Of Maharashtra</option> -->
</select><br><br>
<input type="text" [(ngModel)]="adddetails.accountNo" placeholder="Enter Account Number"><br><br>
<input type="text" [(ngModel)]="adddetails.city" placeholder="Enter City"><br><br>
<button (click)="add()">Save</button><br><br>
Status :
  {{status}}
