<h1>
  Registration Form
</h1>
<input type="text" [(ngModel)]="reg.name" placeholder="Enter Name"><br><br>
<textarea [(ngModel)]="reg.address" cols="20" rows="5" placeholder="Enter Address"></textarea><br><br>
<input type="number" [(ngModel)]="reg.mobNo" placeholder="Enter Mobile No"><br><br>
<input type="email" [(ngModel)]="reg.emailId" placeholder="Enter Email Id"><br><br>
<input type="date" [(ngModel)]="reg.dob"><br><br>
<input type="text" [(ngModel)]="reg.userName" placeholder="Enter User Name"><br><br>
<input type="password" [(ngModel)]="reg.password" placeholder="Enter Password"><br><br>
<input type="password" [(ngModel)]="reg.confirmPassword" placeholder="Enter Confirm Password"><br><br>
<button (click)="register()">Register</button><br><br>
<h3>
  Register Status :
  {{status == true ? 'Password Match':"Password didn't Match"}}
</h3>