<h1>Details</h1>
<table border="1" style="width:100%">
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Mobile No</th>
    <th>Email Id</th>
    <th>Bank</th>
  </tr>
  <tr *ngFor = "let details of bankdetails">
    <td>{{details.firstName}}</td>
    <td>{{details.lastName}}</td>
    <td>{{details.mobileNo}}</td>
    <td>{{details.emailid}}</td>
    <td>{{details.bank}}</td>
  </tr>
</table>
