<div style="text-align: center; padding: 60px;">
  <h1>
    404 error
  </h1>
  <h3>
    This page doesn't exist.
  </h3>
  <h3>
    Would you like to <span style="color: red">learn about HTTP errors?</span>
  </h3>
</div>